{%extends 'base.html'%} {%block contactactive%}active{%endblock contactactive%}
{%block body%}

<div class="container">
  <h2 class="py-3">Contact us</h2>
  <form action="/contact/" method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input
      type="name"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter your name"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Enter your text</label
    >
    <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</div>
{%endblock body%}
